<!DOCTYPE html>
<html>
  <head>
    <title><%=title%></title>
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/inapp.css">
    <link rel="stylesheet" type="text/css" href="/css/jjsonviewer.css">
    <link rel="stylesheet" type="text/css" href="/css/codemirror/codemirror.css">

    <script type="text/javascript" src="/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="/js/lib/jjsonviewer/jjsonviewer.js"></script>
    <script type="text/javascript" src="/js/lib/codemirror/codemirror.js"></script>
    <script type="text/javascript" src="/js/lib/codemirror/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/js/inapp.js"></script>
    <script type="text/javascript" src="/js/utils.js"></script>
    <%-scripts%>
    <%-stylesheets%>
  </head>
  <body>
    <header>
      <%-blocks.header%>
    </header>
    <section>
      <%-body -%>
    </section>
    <footer>
      <%-blocks.footer%>
    </footer>
  </body>
</html>