<% layout('./boilerplate') -%>

<div id="menu-container">
	<a class="display-a-as-button menu-item" href="/inapp/notifications-list-page">List</a>
	<a class="display-a-as-button menu-item" href="/inapp/new-inapp-page">New InApp Notification</a>
</div>

<%/* block('header', "<p>I'm in the header.</p>") -%>
<% block('footer', "<p>I'm in the footer.</p>") -*/%>

