<% layout('./boilerplate') -%>

<script type="text/javascript">
	window.layouts = JSON.parse('<%- JSON.stringify(layouts) %>');
</script>

<div id="blocks-container">
  <% layouts.forEach(function(layout){ %>
    <% include includes/new-inapp-page-layout %>
  <% }); %>
</div>
