<% layout('./boilerplate') -%>

<script type="text/javascript">
	window.notifications = JSON.parse('<%- JSON.stringify(notifications) %>');
</script>

<div id="blocks-container">
  <% notifications.forEach(function(notification){ %>
    <% include includes/notifications-list-page-notification %>
  <% }); %>
</div>
