@import url(http://fonts.googleapis.com/css?family=Inconsolata);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html { height: 101%; }
body { font-size: 62.5%; line-height: 1; font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif; }
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
 
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; } 
 
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
 
p { font-size: 1.2em; line-height: 1.0em; color: #333; }

.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
  
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


.clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }
 
/* IE 6/7 */
.clearfix { zoom: 1; }


::selection { background: #e2eae2; }
::-moz-selection { background: #e2eae2; }
::-webkit-selection { background: #e2eae2; }

.buttons{
    margin: 1em 0;
    display: table;
    width: 100%;
    text-align: center;
}

button,
.display-a-as-button{
 display: inline-block;
 padding: 6px 12px;
 margin-bottom: 0px;
 font-size: 14px;
 font-weight: normal;
 line-height: 1.42857;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 cursor: pointer;
 border: 1px solid transparent;
 border-radius: 4px 4px 4px 4px;
 -moz-user-select: none;
 color: rgb(51, 51, 51);
 background-color: rgb(255, 255, 255);
 border-color: rgb(204, 204, 204);
 color: rgb(255, 255, 255);
 background-color: rgb(66, 139, 202);
 border-color: rgb(53, 126, 189);
}

button:hover, button:focus, button:active,
.display-a-as-button:hover, .display-a-as-button:focus, .display-a-as-button:active{
 color: rgb(255, 255, 255);
 background-color: rgb(50, 118, 177);
 border-color: rgb(40, 94, 142);
}

.transparent {
    filter: alpha(opacity=50); /* internet explorer */
    -khtml-opacity: 0.5;      /* khtml, old safari */
    -moz-opacity: 0.5;       /* mozilla, netscape */
    opacity: 0.5;           /* fx, safari, opera */
}


.CodeMirror{
 border: 1px solid #ddd;
}

.jh-root {
    font-family: 'Inconsolata' ;
}

#blocks-container {
  width: 90%;
  margin-left: 5%;
}

.block-container {
    border: 1px solid gray;
    margin-bottom: 50px;
}

.block-container .left {
    width: 30%;
}

.block-container .right {
    width: 60%;
}

.block-container .left .block-container-left {
    padding: 5px;
    float:left;
    width:20%;
}

.block-container .right .block-container-left {
    padding: 5px;
    float:left;
    width:20%;
}

.block-container .right .block-container-right {
    padding: 5px;
    float:left;
    margin-left: 10px;
    width:78%;
}

.inapp-template-container {
    float:left;
    width: 46%;
    height:100%;
    padding-left: 1%;
    padding-right: 1%;
}

.inapp-data-editor-container {
    float:right;    
}

.template-heading {
    font-size: 20px;
    margin-bottom: 5px;
}

.inapp-editor-heading {
    font-size: 20px;
    margin-bottom: 5px;
}

.block-container-controls {
    height:45px;
    width:100%;
    padding:5px;
    border:1px solid gray;
}

.inapp-layout-data-save-button {
    float: right;
}


.CodeMirror { height: auto; border: 1px solid #ddd; }
.CodeMirror-scroll { max-height: 200px; }
.CodeMirror pre { padding-left: 7px; line-height: 1.25; }
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}

#menu-container {
  width: 99%;
  margin: auto;
  height: 6em;
  padding-left: 0.5%;
  padding-right: 0.5%;
  padding-top: 5px;
  background-color: #eee;
  border-bottom: 2px solid gray;
}

#menu-container .menu-item {
  float: right;
  margin-right: 10px;
  font-size: 1.3em;
  line-height: 2.6em;
}
