<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s3">
          <input placeholder="Top/Business/Automotive" id="path" type="text">
          <label for="path">Path</label>
        </div>

        <div class="input-field col s3">
          <select id='descriptions'>
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
          <label for="descriptions">Need Descriptions</label>
        </div>

        <div class="input-field col s4">
          {{#if vals}}
            <select id='response-groups' multiple='multiple'>
              {{#each vals}}
                <option value='{{this}}'>{{this}}</option>
              {{/each}}
            </select>
            <label for="response-groups">Response Groups</label>
          {{/if}}
        </div>

        <div class="input-field col s2">
          <div id="submit-button" class="waves-effect waves-light btn">Submit</div>
        </div>
      </div>
    <form>
</div>

<style media="screen">
  #response-container {
    border: 1px solid gray;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="col s1"></div>
  <div class="col s12" id="response-container">
    <div class="row">
      <div class="col s12" id="response-toggle-buttons-container">
        <button id="collapse-all" class="waves-effect waves-light btn">Collapse</button>
        <button id="expand-all" class="waves-effect waves-light btn">Expand</button>
        <button id="toggle" class="waves-effect waves-light btn">Toggle</button>
      </div>
    </div>

    <div class="row">
      <div class="col s12" id="response-data-container">

      </div>
    </div>
  </div>
</div>
