<div class="row">
    <form class="col s10">
      <div class="row">
        <div class="input-field col s3" style="max-height:500px; overflow-y: scroll;">
          <textarea id="domains-list" class="materialize-textarea"></textarea>
          <label for="domains-list">Enter each domain in new line</label>
        </div>

        <div class="input-field col s3" style="max-height:500px; overflow-y: scroll;">
          <textarea id="recepients-list" class="materialize-textarea"></textarea>
          <label for="recepients-list">Enter recepients, one in each line</label>
        </div>

        <div class="input-field col s2">
          <select id='long_running'>
            <option value='true'>true</option>
            <option value='false'>false</option>
          </select>
          <label for="long_running">Batch process domain on server</label>
        </div>

        <div class="input-field col s2">
          <div id="submit-button" class="waves-effect waves-light btn">Submit</div>
        </div>
      </div>
    <form>
</div>

<style media="screen">
  #response-container {
    border: 1px solid gray;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="col s1"></div>
  <div class="col s12" id="response-container">
    <div class="row">
      <div class="col s12" id="response-toggle-buttons-container">
          <div class="input-field col s1">
            <a download="customBatchInfo.xls" class="waves-effect waves-light btn" href="#" onclick="return ExcellentExport.excel(this, 'results-table', 'domain_category_address');">Excel</a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12" id="response-data-container">
          <div class="row">
              <div class="col s2 push-s10">
                  <span class="badge left" id="fetched-counter"></span>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
