<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Company Domain" id="company_domain" type="text">
          <label for="company_domain">Company Domain</label>
        </div>

        <div class="input-field col s2">
          <input placeholder="Count (No. of results to return. Max.: 20)" id="count" type="text" value="{{default_count}}">
          <label for="count">No. of results to return</label>
        </div>

        <div class="input-field col s2">
          <input placeholder="start Index (Starting from 0)" id="start_index" type="text"value="{{default_start_index}}">
          <label for="start_index">Start Index</label>
        </div>

        <div class="input-field col s2">
          <div id="submit-button" class="waves-effect waves-light btn">Submit</div>
        </div>
      </div>
    <form>
</div>

<style media="screen">
  #response-container {
    border: 1px solid gray;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="col s1"></div>
  <div class="col s12" id="response-container">
    <div class="row">
      <div class="col s12" id="response-toggle-buttons-container">
        <div class="input-field col s2">
          <button id="collapse-all" class="waves-effect waves-light btn">Collapse</button>
        </div>

        <div class="input-field col s2">
          <button id="expand-all" class="waves-effect waves-light btn">Expand</button>
        </div>

        <div class="input-field col s2">
          <button id="toggle" class="waves-effect waves-light btn">Toggle</button>
        </div>

        <div class="input-field col s2">
          <input placeholder="1" id="toggle-value" type="text" value="1">
          <label for="toggle-value">Toggle Level</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12" id="response-data-container">

      </div>
    </div>
  </div>
</div>
