<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Company Domain" id="company_domain" type="text">
          <label for="company_domain">Company Domain</label>
        </div>

        <div class="input-field col s3">
          <input placeholder="Range (No. of days to return. Max.: 31)" id="days_range" type="text" value="{{default_days}}">
          <label for="days_range">Days Range</label>
        </div>

        <div class="input-field col s3">
          <input placeholder="StartDate" id="start_date" type="text"value="{{default_start_data}}">
          <label for="start_date">Start Date</label>
        </div>

        <div class="input-field col s2">
          <div id="submit-button" class="waves-effect waves-light btn">Submit</div>
        </div>
      </div>
    <form>
</div>

<style media="screen">
  #response-container {
    border: 1px solid gray;
    padding: 10px;
  }
</style>

<div class="row">
  <div class="col s1"></div>
  <div class="col s12" id="response-container">
    <div class="row">
      <div class="col s12" id="response-toggle-buttons-container">
        <button id="collapse-all" class="waves-effect waves-light btn">Collapse</button>
        <button id="expand-all" class="waves-effect waves-light btn">Expand</button>
        <button id="toggle" class="waves-effect waves-light btn">Toggle</button>
      </div>
    </div>

    <div class="row">
      <div class="col s12" id="response-data-container">

      </div>
    </div>
  </div>
</div>
