<table class="striped responsive-table" id="results-table">
  <thead>
    <tr>
        <th data-field="domain">Domain</th>
        <th data-field="category">Category</th>
        <th data-field="address">Address</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
