<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="css/styles.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <link rel="stylesheet" href="css/jquery.jsonview.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <style>
      html {
        margin: 0;
        padding: 0;
      }

      body {
        margin: 0;
        padding: 0;
        background-color: #fff;
      }

      #main-container {
        height:100%;
        width:100%;
      }

      #top-nav {
        width:100%;
        min-height:40px;
        color: #ccc;
        background-color: #333;
        padding: 6px 1%;
      }

      #top-nav .top-nav-link {
        float: right;
        margin-left:10px;
        font-size: 16px;
        text-decoration: none;
        color: #ccc;
        padding:3px 10px;
      }

      #top-nav .top-nav-link::after {
        content: " | ";
      }

      #main-content {
        float: left;
        width:100%;
        padding: 5px 10px;
        margin-top:10px;
      }

      #progress-container {
        visibility: hidden;
      }
    </style>
    <script src="js/jquery.min.js"></script>
    <script src="js/handlebars-v4.0.5.js"></script>
    <script src="js/jquery.ba-bbq.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/jquery.jsonview.js"></script>
    <script src="js/notify.js"></script>
    <script src="js/hashHandlers.js"></script>
    <script src="js/jspdf.min.js"></script>
    <script src="js/jspdf.plugin.autotable.js"></script>
    <script src="js/excellentexport.min.js"></script>
  </head>
  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Alexa Dashboard</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="spa-link top-nav-link" href="#SitesLinkingIn">SitesLinkingIn</a></li>
        <li><a class="spa-link top-nav-link" href="#CategoryListings">CategoryListings</a></li>
        <li><a class="spa-link top-nav-link" href="#CategoryBrowse">CategoryBrowse</a></li>
        <li><a class="spa-link top-nav-link" href="#TrafficHistory">TrafficHistory</a></li>
        <li><a class="spa-link top-nav-link" href="#UrlInfo">UrlInfo</a></li>
        <li><a class="spa-link top-nav-link" href="#CustomBatchInfo">CustomBatchInfo</a></li>
      </ul>
    </div>
  </nav>
    <div id="main-container">
      <div id="progress-container" class="progress">
          <div class="indeterminate"></div>
      </div>

      <div id="main-content">
        <div id="dynamic-spa-content">

        </div>
      </div>
    </div>

    <script type="text/javascript">
      function cl(msg){
        console.log(msg);
      }

      var jsPdf = new jsPDF();

      $(function(){
        $dynamicSpaContainer = $("#dynamic-spa-content");

        /**
        * Handle hash change events and update state
        *
        * @param
        * @return
        */
        function handleHashChange(){
          var fragment = $.param.fragment();

          $(".spa-content").css("display", "none");
          $("#" + fragment).css("display", "block");

          $dynamicSpaContainer.empty();
          switch (fragment) {
            case 'UrlInfo':
              handleUrlInfo();
              break;

            case 'TrafficHistory':
                handleTrafficHistory();
                break;
            case 'CategoryBrowse':
                handleCategoryBrowse();
                break;
            case 'CategoryListings':
                    handleCategoryListings();
                    break;
            case 'SitesLinkingIn':
                    handleSitesLinkingIn();
                    break;
            case 'CustomBatchInfo':
                    handleCustomBatchInfo();
                    break;
            default:

          }
        }

        /**
         * Make all links go through our click listener so that
         * they all can be converted to spa links and added to browser history

         * @param {String} url of clicked link
         * @return {false} to disable default link click
         */
        function handleClick(mHref){
          if(mHref !== null && mHref.length > 0) {
            var stateToPush = mHref.replace('/^#/', '');
            $.bbq.pushState(stateToPush);
          }

          return false;
        }

        /**
         * Make all links go through our click listener so that
         * they all can be converted to spa links and added to browser history

         * @param null
         * @return null
         */
        $("a.spa-link").click(function() {
          return handleClick.call(this, $(this).attr('href'));
        });

        $(window).bind('hashchange', function(e) {
          handleHashChange();
        });

        $(window).trigger('hashchange');
      });
    </script>
  </body>
</html>
