<div class="block-container">
	<div class="left">
		<img src="<%= layout.mock_image %>" width="100%" />
	</div>
	<div class="right">
		<div class="block-container-left">
			<div><span class="template-heading">Template: "<%- layout.layoutName %>"</span></div>
			<div class="inapp-template">
				<%- (JSON.stringify(layout.template.layout_data)).trim() %>
			</div>
		</div>
		<div class="inapp-data-editor-container">
			<div><span class="inapp-editor-heading">Editor</span></div>
			<div class="inapp-data-editor">
				<textarea rows="30" cols="50" class="inapp-data-editor-textarea">
					<%- JSON.stringify(layout.template.layout_data) %>
				</textarea>
			</div>
			<div class="block-container-controls">
				<button class="inapp-layout-data-save-button" id="layout__<%= layout.layoutName %>">Save</button>
			</div>
		</div>

		<div style="clear:both"></div>
	</div>
	<div style="clear:both"></div>
</div>
