<div class="block-container">
	<div class="right">
		<div class="block-container-left">
			<div><span class="template-heading">Layout: "<%- notification.layout_details.layoutName %>"</span></div>
			<div class="inapp-template">
				<%- (JSON.stringify(notification.layout_data)).trim() %>
			</div>
		</div>
		<div class="inapp-data-editor-container">
			<div><span class="inapp-editor-heading">Editor</span></div>
			<div class="inapp-data-editor">
				<textarea rows="30" cols="50" class="inapp-data-editor-textarea">
					<%- JSON.stringify(notification.layout_data) %>
				</textarea>
			</div>
			<div class="block-container-controls">
				<button class="notification-push-button" id="notification__<%= notification._id %>">Push</button>
			</div>
		</div>

		<div style="clear:both"></div>
	</div>
	<div style="clear:both"></div>
</div>
